.chat_container {
    width: 99%;
    height: 100%;
    border-radius: 5px;
    background-color: lightgray;
  }
  .profile_header{
    display: flex;
    background-color: rgb(164, 151, 151);
    width: 100%;
    height: 60px;
    margin: 2px;
  }
  .profile .profile_btn1
  {
    width: 50px;
    height: 50px;
    margin: 3px 15px 0px 10px;
    border-radius: 50%;
    padding: 10px 20px;
  }
  .profile .profile_pic
  {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: -10px -10px 0px -20px;
  }
  .profile button h4{
    font-size: 14px;
    color: white;
  }
  .profile .profile_btn2
  {
    background-color: rgb(164, 151, 151);
    color: black;
    border: none;
    width: 150px;
    height: 40px;
    margin: 10px 0 0 0;
    border-radius: 10px;
  }
  .profile .profile_btn3
  {
    border: none;
    outline: none;
    background-color: rgb(164, 151, 151);
    margin: 10px 0 5px 20px;
    width: 42px;
    height: 40px;
    border-radius: 10px;
    padding: 2px;
  }
  .profile .chat_pop{
    width: 100%;
    height: 100%;
  }
  .chat-messages {
    height: 335px;
    margin-top: -2px;
    width: 100%;
    overflow: auto;
    padding: 10px;
    background-color: #f4f4f4; 
    background-image: src('./images/bg.jpeg');
  }
  .message {
    margin: 5px 0;
    padding: 10px;
    max-width: 100px;
    word-wrap: break-word;
  }
  .message.other
  {
    background-color: #f4f4f4;
  }
  
  .input-container
  {
    display: flex;
    height:55px;
    background-color: rgb(164, 151, 151);
    width: 100%;
  }
  
  .input-container input
  {
    border: none;
    width: 60%;
    height: 40px;
    outline: 1px solid rgb(164, 151, 151);
    margin: 8px 10px 0px 10px;
    border-radius: 10px;
  }
  
  .input-container .profile_btn4
  {
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px 0px 1px 60px;
  }

  .profile_btn4 .chat_send
  {
    width: 100%;
    height: 100%;
  }
  