*{
  padding: 0;
  margin: 0;
}


@media only screen and (max-width:768px) {

.appContainer{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
/* ---------------------------------------------------------------------------------------*/

.appPage{
  width: 100%;
  height: 90%;
}
.appPage_nav{
  height: 35px;
  margin: 1px 1px 1px 1px;
}
.appPage_nav span img{
  width: 120px;
  margin: 3px 0 0 10px;
}
.appPage_nav  button{
 padding: 6px;
 margin-top: 5px;
 border-radius: 50%;
 border: none;
 cursor: pointer;
}
.appPage_nav .appPage_nav_btn1{
   position: absolute;
   top: 0;
   right: 70px;
 }
 .appPage_nav .appPage_nav_btn2{
  position: absolute;
  top: 0;
  right: 30px;
}
/* ---------------------------------------------------------------------------------------*/

.appPage_route {
  width: auto;
  height: 478px;
  overflow: auto;
} 

/* ---------------------------------------------------------------------------------------*/

.appIcons{
  width: 99%;
  height: 10%;
  display: flex;
 justify-content: space-evenly;
 border-top: 2px solid blue;
 border-radius: 5px;
}
.appIcons button{
  border: none;
  outline: none;
  background-color: white;
  width: 50px;
}
.appIcons img{
  width: 35px;
  background-color: white;
  padding: 2px 2px;
  margin-top: 5px;
  border-radius: 10px;
 }

.appIcons button:focus{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 2px solid blue;
  border-top: none;
  margin-top: -2px;
  border-radius: 5px;
  transition-timing-function: ease-in-out;
  transform: 0.30s;
}
}

/* ---------------------------------------------------------------------------------------*/


@media only screen and (max-width:2600px) and (min-width:769px) {
 
  .appContainer{
    width: 80%;
    height: 100vh;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
  }

 /* ---------------------------------------------------------------------------------------*/

  .appPage{
    width: 100%;
    height: 90%;
    
  }
  .appPage_nav{
    height: 35px;
    margin: 1px 1px 1px 1px;
   
  }
  .appPage_nav span img{
    width: 150px;
    position: absolute;
    top: 3px;
  }
   .appPage_nav  button{
    padding: 6px;
    margin-top: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
   }
   .appPage_nav .appPage_nav_btn1{
    position: absolute;
    top: 0;
    right: 25%;
  }
  .appPage_nav .appPage_nav_btn2{
    position: absolute;
    top: 0;
    right: 15%;
  }

  .appPage_route {
    width: auto;
    height: 92%;
    overflow: auto;
  } 

 /* ---------------------------------------------------------------------------------------*/
  
  .appIcons{
    width: 99%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-radius: 5px;
  }
  .appIcons button{
    border: none;
    outline: none;
    background-color: white;
    width: 50px;
  }
  .appIcons img{
   width: 35px;
   background: white;
   padding: 2px 2px;
   margin-top: 5px;
   border-radius: 10px;
  }
  .appIcons button:focus{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 2px solid blue;
    border-top: none;
    margin-top: -2px;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
    transform: 0.30s;
  }
}