*{
  padding: 0;
  margin: 0;
}

body{
  background: #222;
}
/* ---------------------------------------------------------------------------------------*/
.appContainer{
  width: auto;
  height: 100vh;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
/* ---------------------------------------------------------------------------------------*/
.appPage{
  width: auto;
  height: 88%;
}
.appPage_nav{
  height: auto;
  margin: 1px 1px 5px 1px;
}
.appPage_nav h3{
  margin: 0 0 0 30px;
  color: slateblue; 
}
.appPage_nav  button{
  padding:6px;
  border-radius: 50%;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  color: steelblue;
}
.appPage_nav h3 span:first-child {
  margin: 0 0 0 680px; 
 }

.appPage_nav h3 span:last-child {
 margin: 0 0 0 10px;
}
/* ---------------------------------------------------------------------------------------*/
.appPage_route {
  width: auto;
  height: 490px;
  overflow: auto;
}
/* ---------------------------------------------------------------------------------------*/
.appIcons{
  width: auto;
  height: auto;
}
.appIcons span img{
  padding: 1px;
  width: 50px;
  margin-left: 40px;
  margin-top: 5px;
  border-radius: 10px;
  background: whitesmoke;
  color: rosybrown;
  cursor: pointer;
}
.appIcons span:nth-child(2){
  margin-left: 90px;
}
.appIcons span:nth-child(3){
  margin-left: 90px;
}
.appIcons span:nth-child(4){
  margin-left: 90px;
}
.appIcons span:nth-child(5){
  margin-left: 90px;
}
/* ---------------------------------------------------------------------------------------*/